{% extends "base.njk" %}

{% block content %}
<div class="container confirmation-page">
    <h2>Thank you for your order!</h2>
    <p>Your payment has been successfully processed.</p>
    <a href="/shop"  class="btn-primary">Continue Shopping</a>
</div>
{% endblock %}
